<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
	">
	<!-- 全局采用注解配置 -->
	<context:annotation-config></context:annotation-config>
	
	<!-- 全局组件扫描 -->
	<context:component-scan base-package="com.zb"></context:component-scan>
	
	<!-- <mvc:annotation-driven></mvc:annotation-driven>:开启mvc -->
	<mvc:annotation-driven conversion-service="services">
		<!-- spring封装的ajax会乱码,此配置为解决乱码 -->
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=utf-8</value>
					</list>
				</property>
			</bean>
		
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<!-- 静态资源释放 -->
	<mvc:resources location="/statics/" mapping="/statics/**"/>
	<mvc:resources location="/upload/" mapping="/upload/**"/>
	
	<!-- 这配置连接数据库和数据池 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/smbms"></property>
		<property name="username" value="root"></property>
		<property name="password" value="ok"></property>
		
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="60000"></property>
		<property name="validationQuery" value="select 1"></property>
		<!-- testOnBorrow = false，表示每次从连接池中取出连接时，不需要执行validationQuery = "SELECT 1" 中的SQL进行测试 -->
		<property name="testOnBorrow" value="false"></property>
		<property name="testOnReturn" value="true"></property>
	</bean>
	
	<!-- 配置**Mapper.xml -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="typeAliasesPackage" value="com.zb.entity"></property>
		<property name="mapperLocations">
			<list>
				<value>classpath:com/zb/dao/*.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 所有dao的配置 -->
	<bean id="allDao" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.zb.dao"></property>
	</bean>
	
	<!-- 声明式事务 -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<tx:annotation-driven transaction-manager="txManager"/>
	
	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="WEB-INF/jsp/"></property><!-- 前缀 -->
		<property name="suffix" value=".jsp"></property><!-- 尾缀 -->
	</bean>
	
	<!-- 全局异常解析器 
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Exception">401</prop>
			</props>
		</property>
	</bean>
	-->
	<!-- 文件上传解析器 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"></bean>
	
	
	<!-- 全局的转换器配置 -->
	<bean id="services" class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<bean class="com.zb.converter.DateConverter"></bean>
			</set>
		</property>
	</bean>
</beans>